<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Survey</title>
</head>
<body>
    <div class="block1">
        <form action="/survey" method="POST">
        <label for="Nombre"> Nombre</label>
        <input type="text" id="Nombre" name="Name">
        <label for="Dojo"> Dojo Location</label>
        <select name="Dojo" id="Dojo">
            <option value="1">Dojo 1</option>
            <option value="2">Dojo 2</option>
        </select>
        <label for="Lenguage"> Lenguage Favorito:</label>
        <select name="Lenguage" id="Lenguage">
            <option value="C#">C#</option>
            <option value="Java">Java</option>
        </select>
        <label for="coments">Comentarios(opcional)</label>
        <textarea name="Comment" id="Comment" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit"/>
        </form>
    </div>
</body>
</html>